body{
  background-color: #AAF0D1;
  margin: 0;
}
/* header */
h1 {
  margin: 10px;
  color: #68EAAD;
}
.header-title{
  margin: 10px;
  color: #68EAAD;
}

.header{
  background-color: #ffffff;
  width: 100%;
  height: 80px;
}

h2{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 36px;
  margin: 15px;
}

/* section */
.title{
  margin-top: 50px;
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
}
.carousel{
  margin-left: 50px;
  margin-right: 50px;
}
.carousel img{
  margin-left: 10px;
  margin-right: 10px;
  height: 270px;
  border: 8px solid #FFF;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-border-radius: 7px;
  cursor: pointer;
}
.carousel .slick-slide{
  padding: 20px;
}
.slick-prev {
  left: -35px;
}
.slick-prev:before, .slick-next:before {
  font-size: 30px;
  color: #244b81;
}

.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
  height: 270px;
  text-align: center;
}

.imgDescription {
  position: absolute;
  top: 20px;
  bottom: 4px;
  left: 30px;
  margin: 8px;
  padding: 30px;
  right: -19px;
  background: rgba(25, 109, 86, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

/* footer */
.footer{
  position:fixed;
  background-color: #ffffff;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
}

.footer-context h4{
  margin-left: 15px;
  color: #68EAAD;
}
